


<div class="menu">
  <div class="row">
   <div class="modal-dialog login">
     <div class="col-lg-6 col-xl-12 col-md-6 col-sm-8 col-xs-8 text-center">
       <div class="modal-content"  style="min-width: 18rem; min-height: 18rem;">
         
         <div class="col-12 sushi-icon">
           <img src="images/sushi-icon.png" alt="">
        </div>

          <form class="col-12">
              <div class="form-group">
                <input type="email" placeholder="username" class="form-control" >
              </div>
              <div class="form-group">
                  <input type="password" placeholder="password" class="form-control" >
                </div>
                <button class="btn" type="submit" href="/home">Login</button>
            </form>
            <div class="col-12 py-3">
              <a href="#" class="text-danger">Forgot Password?</a>
              <p class="text-light mt-3">New around here? <a href="">Sign up</a></p>
            </div>
      </div>
     </div>
   </div>
  </div>
</div>
  
