<div class="admin">

        <nav class="navbar navbar-dark bg-dark">
                <a href="/" class="navbar-brand">
                Usuarios
                </a>
              
              </nav>
              <app-usuarios>
              
              </app-usuarios>
              
        <nav class="navbar navbar-dark bg-dark">
            <a href="/" class="navbar-brand">
            Productos 
            </a>
              
        </nav>
            
        <app-products>
  
        </app-products>

</div>j
j