<div class="home">
<div class="menu-home">
  <div class="row">
    <div class="col-6">
      <h1 class="pl-5 mt-5 text-light titulo-menu" >Menú</h1>
    </div>
  </div>

  <!-- Cards -->

<div class="row my-5">
  <div class="col-4">
      <div class="card mx-auto" style="width: 18rem;">
          <img class="card-img-top" src="images/sushi1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">
                <a  style="color: white">Alaska Especial</a>
            </h5>  
            <h6>12$</h6>
          </div>
        </div>
  </div>
  <div class="col-4">
      <div class="card mx-auto" style="width: 18rem;">
          <img class="card-img-top"  src="images/sushi2.jpg" alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title">
                  <a style="color: white">California</a>
                  <!-- <div (click)="openModal()" class="btn btn-success"> Prueba</div> -->
                </h5>  
              <h6>12$</h6>
          </div>
        </div>
  </div>
  <div class="col-4">
      <div class="card mx-auto" style="width: 18rem;">
          <img class="card-img-top" src="images/sushi4.jpg" alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title">
                <a href="#" style="color: white">Dragon</a>
              </h5>  
              <h6>12$</h6>
          </div>
        </div>
  </div>
</div>


<div class="row  my-5">
    <div class="col-4">
        <div class="card mx-auto" style="width: 18rem;">
            <img class="card-img-top" src="images/sushi5.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a href="#" style="color: white">Dinamita</a></h5>  
                <h6>12$</h6>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card mx-auto" style="width: 18rem;">
            <img class="card-img-top"  src="images/sushi6.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a href="#" style="color: white">Tiger</a></h5> 
                <h6>12$</h6> 
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card mx-auto" style="width: 18rem;">
            <img class="card-img-top" src="images/sushi8.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a href="#" style="color: white">Anakyiu</a></h5> 
                <h6>12$</h6> 
            </div>
          </div>
    </div>
  </div>
</div>

<!-- Modales Terminar esto -->

<!-- <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>

  </div> -->